.contactHeader {
	background-image: url(../assets/contact-1.jpeg);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	height: 40vh;

	nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		background-color: $thirdColor;
		margin: 0px 16px 0px -154px;
		width: 130%;

		.leftNav {
			display: flex;
			flex-wrap: wrap;
		}

		.rightNav {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
		}

		a {
			text-decoration: none;
			color: $firstColor;
			font-size: 0.6rem;
			padding: 0 30px;
		}

		button {
			text-decoration: none;
			border: none;
			padding: 12px 44px 0 10px;
			font-size: 0.5rem;
			background-color: transparent;
		}
	}

	.logo {
		display: none;
	}

	.fa-bars {
		display: none;
	}

	h2 {
		padding: 182px 0 10px 60px;
		margin: 0px 0 0 40px;
		position: relative;
		color: $firstColor;

		&::before {
			content: "__";
			color: $firstColor;
			top: 137px;
			left: 60px;
			position: absolute;
		}
	}
}
